
[class^="drop-"] {
  /* This needs to be absolute relative to its parent */
  position: absolute;
  border: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  overflow: hidden;
  font-size: 0.75rem;
}

.entry {
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.entry:hover {
  background-color: rgb(190, 190, 220);
}
